<%- include('./layouts/header.ejs') %>

    <div class="container">
        
        <h1>Reset Password</h1>

        <form method="POST">

            <input type="password" name="passsword" placeholder="Enter New Paword Here" required>
            <input type="hidden" name="user_id" value="<% user_id %>
            <br><br>
            <input type="submit" value="reset" class="btn btn-info">
            
        </form>

    </div>

    <%- include('./layouts/footer.ejs') %>